In [2]:
import numpy as np

In [5]:
x=[ 
[1,1],[2,2],[3,3]
]

In [6]:
np.average(x)

2.0

In [8]:
x.index((min(x)))

0

In [10]:
import pandas as pd

In [11]:
y=pd.DataFrame(x)

In [12]:
y

   0  1
0  1  1
1  2  2
2  3  3

In [18]:
y.iloc[y.index==1,:]

   0  1
1  2  2

array([False,  True, False])